<div class="card-list-container py-5">
   <% @comments.each do |comments| %>
   <div class="card image_size mx-auto shadow-lg">
      <div class="card-body">
         <div class="row">
            <div class="col-6">
               <p>
                  <%= link_to admin_user_path(comments.user.id), class: "text-dark" do %>
                     <span><i class="fas fa-user"></i></span> <%= comments.user.name %>
                  <% end %>
               </p>
            </div>
            <div class="col-6">
               <p>
                  <%= link_to admin_comment_path(comments.id), class: "btn btn-success btn-sm" do %>
                     コメント詳細
                  <% end %>
               </p>
            </div>
            <div class="col-12">
               <p>
                  　<%= comments.comment_content %>
               </p>
            </div>
            <div class="col-12">
               <p>
                  <%= comments.created_at.strftime('%Y/%m/%d') %>
               </p>
            </div>
         </div>
      </div>
   </div>
   <% end %>
   <div class="col-12 pt-5 ">
      <%= paginate @comments, theme: 'twitter-bootstrap-4' %>
   </div>
</div>