<div class="card-list-container py-5">
  <div class="card image_size mx-auto mt-4 shadow-lg ">
      <div class="card-header">
         <% if @post_image.user_id == current_user.id %>
            <%= link_to "編集する", edit_post_image_path(params[:id]), class: "btn btn-success btn-sm" %>
         <% end %>
         <div class="row">
            <% @post_image.images.each do |images| %>
            <div class='col-6 p-1'>
               <%= link_to rails_blob_path(images) do %>
                  <%= image_tag images, class: "index_image" %>
               <% end %>
            </div>
            <% end %>
         </div>
      </div>
      <div class="card-body">
         <div class="row">
            <div class="col-12">
               <p class="card-title link-secondary">
                  <%= link_to user_path(@post_image.user.id), class: "text-dark" do %>
                     <i class="fas fa-user"></i></span> <%= @post_image.user.name %>
                  <% end %>
               </p>
            </div>
            <div class="col-12">
               <p class="card-title">
                  劇団名　<%= @post_image.gekidann_name %>
               </p>
               <p class="card-title">
                  役者名　<%= @post_image.yakusya_name %>
               </p>
               <p class="card-text">
                  　<%= @post_image.post_content %>
               </p>
            </div>
            <div class="col-4 mt-4">
               <% if user_signed_in? %>
               <% if @post_image.favorited_by?(current_user) %>
               <p>
                  <%= link_to post_image_favorites_path(@post_image), method: :delete, class: "text-dark" do %>
                     <span class="text-danger">♥</span><%= @post_image.favorites.count %> いいね
                  <% end %>
               <% else %>
               <p>
                  <%= link_to post_image_favorites_path(@post_image), method: :post, class: "text-dark" do %>
                     ♡<%= @post_image.favorites.count %> いいね
                  <% end %>
               <% end %>
               <% elsif %>
               <p>
                  ♡<%= @post_image.favorites.count %> いいね
               <% end %>
               </p>
            </div>
            <div class="col-8 mt-4">
               <p>
                  <%= link_to "コメントする",new_post_image_comment_path(@post_image), class: "text-dark" %>
               </p>
            </div>
            <div class="col-12">
               <p>
                  <%= @post_image.comments.count %>件のコメント
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="card-list-container py-5">
   <% @post_image.comments.each do |comment| %>
   <div class="card image_size mx-auto shadow-lg ">
      <div class="card-body">
         <div class="row">
            <div class="col-12">
               <p>
                  <p class="card-title">
                  <%= link_to user_path(@post_image.user.id), class: "text-dark" do %>
                     <span><i class="fas fa-user"></i></span> <%= comment.user.name %>
                  <% end %>
               </p>
            </div>
            <div class="col-12">
               <p>
                  　<%= comment.comment_content %>
               </p>
            </div>
            <div class="col-12">
               <p>
                  <%= comment.created_at.strftime('%Y/%m/%d') %>
               </p>
            </div>
         </div>
      </div>
   </div>
   <% end %>
</div>>
