<div class="jumbotron bg-light ">
   <div class="container">
      <div class="row">
         <div class="col-md-12 text-right">
            <%= link_to "編集", edit_admin_user_path(params[:id]), class: "btn btn-success btn-sm" %>
         </div>
         <div class="col-md-12 text-center h4 mt-5">
            <%= @user.name %>のマイページ
         </div>
         <div class="col-md-12 text-center mt-3">
            <%= @user.introduction %>
         </div>
         <div class="col-md-12 text-center mt-3">
            <%= @user.email %>
         </div>
         <div class="col-md-12 text-center mt-3">
            退会ステータス
               <% if @user.is_deleted == false %>
            有効
               <% else @user.is_deleted == true %>
            退会
               <% end %>
         </div>
         <div class="col-4 text-right pt-4 p-0">
            <%= link_to "コメント一覧", admin_users_comments_path(@user.id), class: "btn btn-success btn-sm" %>
         </div>
         <div class="col-4 text-center pt-4">
            <%= link_to "投稿一覧", admin_user_path(@user.id), class: "btn btn-success btn-sm" %>
         </div>
         <div class="col-4 text-left pt-4 p-0">
            <%= link_to "いいね一覧", admin_users_favorites_path(@user.id), class: "btn btn-success btn-sm" %>
         </div>
      </div>
   </div>
</div>
<div class="card-list-container py-5">
   <% @favorites.each do |favorites| %>
   <div class="card image_size mx-auto mt-4 shadow-lg ">
      <div class="card-header">
         <div class="row">
            <% favorites.post_image.images.each do |images| %>
            <div class='col-6 p-1'>
            <%= link_to admin_post_image_path(favorites.post_image.id) do %>
               <%= image_tag images, class: "index_image" %>
            <% end %>
            </div>
            <% end %>
         </div>
      </div>
      <div class="card-body">
         <div class="row">
            <div class="col-12">
               <p class="card-title">
                  <%= link_to admin_user_path(favorites.post_image.user.id), class: "text-dark" do %>
                     <span><i class="fas fa-user"></i></span> <%= favorites.post_image.user.name %>
                  <% end %>
               </p>
            </div>
            <div class="col-12">
               <p class="card-title">
                  劇団名　<%= favorites.post_image.gekidann_name %>
               </p>
               <p class="card-title">
                  役者名　<%= favorites.post_image.yakusya_name %>
               </p>
               <p class="card-text">
                  　<%= favorites.post_image.post_content %>
               </p>
            </div>
            <div class="col-4 mt-4">
               <p>
                  ♡<%= favorites.post_image.favorites.count %> いいね
               </p>
            </div>
            <div class="col-8 mt-4">
               <p>
                  <%= link_to "#{favorites.post_image.comments.count} コメント", admin_post_image_path(favorites.post_image.id), class: "text-dark" %>
               </p>
            </div>
         </div>
      </div>
   </div>
   <% end %>
   <div class="col-12 pt-5 ">
      <%= paginate @favorites, theme: 'twitter-bootstrap-4' %>
   </div>
</div>